<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>本土</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E6%9C%AC%E5%9C%9F&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>复古</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E6%9C%AC%E5%9C%9F&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>轻熟</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E8%BD%BB%E7%86%9F&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>清新</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E6%B8%85%E6%96%B0&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>混搭</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E6%B8%85%E6%96%B0&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>约会</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E7%BA%A6%E4%BC%9A&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>出游</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E5%87%BA%E6%B8%B8&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>优选</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E4%BC%98%E9%80%89&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>丰满</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E4%B8%B0%E6%BB%A1&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>娇小</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E4%B8%B0%E6%BB%A1&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>高挑</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E9%AB%98%E6%8C%91&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>派对</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E6%B4%BE%E5%AF%B9&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>街头</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E8%A1%97%E5%A4%B4&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>OL</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E8%A1%97%E5%A4%B4&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>欧美</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E6%AC%A7%E7%BE%8E&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>闺蜜</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E9%97%BA%E8%9C%9C&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>休闲</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E4%BC%91%E9%97%B2&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>型男</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E5%9E%8B%E7%94%B7&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>逛街</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E9%80%9B%E8%A1%97&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>日韩</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E9%80%9B%E8%A1%97&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>甜美</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E7%94%9C%E7%BE%8E&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>热门</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E7%83%AD%E9%97%A8&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>典礼</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E5%85%B8%E7%A4%BC&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>运动</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E8%BF%90%E5%8A%A8&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
	<dict>
		<key>摩登</key>
		<string>http://api-v2.mall.hichao.com/star/list?category=%E6%91%A9%E7%99%BB&amp;lts=&amp;pin=&amp;flag=&amp;gc=appstore&amp;gf=iphone&amp;gn=mxyc_ip&amp;gv=6.6.3&amp;gi=1527ABD9-C570-457C-A539-CE07C1BE492A&amp;gs=640x1136&amp;gos=8.4&amp;access_token=</string>
	</dict>
</array>
</plist>
